/* IMPORT STYLESHEET */

@import url("css/backoffice.css");

/* GENERAL HTML STYLE */

/*************************************************
    $   GENERAL
        GENERAL
*************************************************/

.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}
.align-center{
	text-align:center;
}

/*Slider*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	max-width:inherit;
	width:100%;
}


/*************************************************
    $   ENTETE
        HEADER
*************************************************/
#header h1.sitename{
	display:inline-block;
}
#header #ovfx_user ul, #header #ovfx_menu ul{
	list-style-type:none;
}

/*navigation*/
#hornav ul{
	list-style-type:none;
}
#hornavmenu.nav.navbar-nav > ul > li{
	display:inline-block;
}

/*************************************************
    $   CONTENU
    	CONTENT
*************************************************/

/*simple-slider*/
.carousel-control.left, .carousel-control.icon-prev{
	left:20px!important;
}
.carousel-control.right, .carousel-control.icon-next{
	right:20px!important;
}

/*************************************************
    $   PIED DE PAGE
    	FOOTER
*************************************************/


/*************************************************
    $   BACK
    	OFFICE
*************************************************/

/*login, pwd forms*/
.input-group-addon .fa{
	width:15px;
}

/* editlinks - portlet*/
.editlinks-hoverbutton{
	top:-20px!important;
}
.portlets-hoverbutton{
	top:-20px!important;
}
.portlet-frame button.btn-default {
    background-color: rgba(0, 0, 0, 0.043);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05) inset;
    margin: 0;
}
.portlet-frame button.btn-primary{
	color: #ffffff;
    background-color: #1F72B1;
    border-color: #1F72B1;
}
.portlet-frame button.btn-info{
	color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.portlet-frame button.btn-success{
	color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.portlet-frame button.btn-warning{
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.portlet-frame button.btn-danger{
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
/*gestion*/
.widget-bordered{
	border:none!important;
}

/*calopt*/
#bab_calopt_days td span{
	top:-17px!important;
}

/*Padding for editlinks*/
.widget-html {
	padding:20px;
}