/**
 *
 * @author Cantico
 * @license http://opensource.org/licenses/gpl-license.php GNU General Public License (GPL)
 * @copyright Copyright (c) 2006 by CANTICO ({@link http://www.cantico.fr;
 */

/*************************************************
    $   Less Variables

        @bodyBackgroundColor
            body's background color
        @headerBackgroundColor
            header's background color
        @headerTextColor
            header's text color
        @mainBackgroundColor
            containers' background color
        @mainTextColor
        	body text color
        @buttonBackgroundColor
        	background color applied to element with btn-primary class 
        @buttonTextColor
        	color applied to text to element with btn-primary class
*************************************************/

/*************************************************
    $   Generic less functions
*************************************************/

/**
 * Applies a max width to the element. If the width sent equals 0, no max width is applyed.
 *
 * @param @width max width to apply to the element.
 */
.maxWidth(@width) when not (@width = 0) {
    width : @width;
    max-width: 98%;
}

/**
 * Applies a max width to the element. If the width sent equals 0, no max width is applyed.
 *
 * @param @width max width to apply to the element.
 */
.height(@height) when not (@height = 0) {
    height: @height;
}


/*************************************************
    $   CSS
*************************************************/

@darkerHeaderBackgroundColor:darken(@headerBackgroundColor,15%);
@lighterHeaderBackgroundColor:lighten(@headerBackgroundColor,15%);

body{
	background-color:@bodyBackgroundColor;	
	color:@mainTextColor;
}

.sitename,
.slicknav_menu .slicknav_menutxt,
.slicknav_nav a,
.slicknav_nav li li a,
#hornav ul ul li a,
#hornav ul ul li span,
#hornav ul > li > a, 
#hornav ul > li > span{
	color: @headerTextColor!important;
}

.slicknav_menu .slicknav_icon-bar{
	background-color: @headerTextColor;	
}

.slicknav_menu,
#ovfx_page > .container{
	color: @headerTextColor;
	background-color: @headerBackgroundColor;
}
#ovfx_page #hornav,
#hornav ul ul{
	color: @headerTextColor;
	background-color:darken(@headerBackgroundColor,15%);
}

.lighterHeaderStyle() when (@darkerHeaderBackgroundColor = @headerBackgroundColor) {
	#ovfx_page #hornav,
	#hornav ul ul{
		background-color: @lighterHeaderBackgroundColor;
	}
}

.darkerHeaderStyle() when (@lighterHeaderBackgroundColor = @headerBackgroundColor) {
	#ovfx_page #hornav,
	#hornav ul ul{
		background-color: @darkerHeaderBackgroundColor;
	}
}

.lighterHeaderStyle();
.darkerHeaderStyle();

.container, #base .container{
	background-color:@mainBackgroundColor;
}

.btn-primary, .carousel-control{
	background-color:@buttonBackgroundColor;
	color:@buttonTextColor;
	border-color:@buttonBackgroundColor;
}
.carousel-control.right span, 
.carousel-control.icon-next span,
.carousel-control.left span, 
.carousel-control.icon-prev span{
	color:@buttonTextColor;
}
