/* homepage */

body.home #ovfx_page .bab_content {
	margin-top:5px;
	border-top:#039 1px solid;
	}

body.home #homeLastContent {
	padding: 0px;
	margin-top:5px;
	width:242px;
	float:right;
	margin-left:10px;
	}

body.home #ovfx_page .bab_content .article {
	margin-top:6px;
	margin-right:250px;
	border:#85A2DD 1px solid;
	border-width:1px 0;
	padding:.5em 4px;
	padding-bottom:1em;
	background:#fff url('images/softbg.gif') no-repeat 0px 0px ;
	}

body.home #ovfx_page .bab_content .public .article {
	margin-right:0px;
	}

body.home #ovfx_page .bab_content h4.title {
	background:transparent url('images/puce2.gif') no-repeat 2px 50% ;
	padding-left:18px;
	margin:0 ;
	margin-bottom:.3em;
	font-size:1.3em;
	color:#587FCC;
	}

body.home #ovfx_page .bab_content .article .head {

	margin-top:.3em;
	padding:.1em .2em ;
	}

body.home .readmore {
	text-align:right;
	margin:0;
	}

body.home .readmore a {
	background:#EDF6FF url('images/puce1.gif') no-repeat 3px 50%;
	border:#567DC0 1px solid;
	padding:1px 4px  1px 13px;
	text-decoration:none;
	}

body.home .readmore a:hover {
	background-color:#BFD7EF;
	color:#000;
	}

body.home #homeLastContent h3 {
	background:#fc3 url('images/puce4.gif') no-repeat 6px 50%;
	margin:0;
	padding:.1em .3em .1em 15px ;
	color:#FF8400;
	font-family:"Trebuchet MS",Arial;
	}

body.home #homeLastContent dt {
	float:left;
	width:25%;
	background-color:#FFFBED;
	border:#fc3 1px solid;
	margin:0 .5em;
	padding:1px 2px;
	text-align:center;
	font-size:.9em;
	
	}

body.home #homeLastContent dd {
	margin:.5em;
	}

body.home #homeLastContent h4 {
	margin:0;
	font-size:1em;
	
	}

body.home #homeLastContent h4 a {
	text-decoration:none;
	color:#000;
	font-family:Verdana;
	padding:0px 2px;
	}

body.home #homeLastContent h4 a:hover {
	color:#f60;
	}

body.home #homeLastContent h4 em {
	display:none;
	}

body.home #homeLastContent h4 span {
	font-weight:normal;
	padding:0px 2px;
	background-color:#F4F4F4;
	border-bottom:#ddd 1px solid;
	border-top:#ddd 1px solid;
	font-size:.9em;
	color:#555;
	}

body.home #homeLastContent dl {
	font-family:Arial;
	}

body.home #homeLastContent dd p {
	margin-top:0em;
	margin-bottom:2em;
	color:#039;
	font-size:.9em;
	}