/* OVIDENTIA DATA TABLES */

.BabLoginCadreBackground > table {
    border: none !important;
}

tr.BabSiteAdminFontBackground > td,
tr.BabForumBackground1 > td,
tr.BabSiteAdminTitleFontBackground > td {
    border: 1px solid #ffffff ! important;
    padding: 14px ! important;
}
tr.BabSiteAdminFontBackground > td {
    background-color: #e5e5e5 ! important;
}
tr.BabForumBackground1 > td {
    background-color: #eeeeee ! important;
}

tr.BabSiteAdminTitleFontBackground > td {
    background-color: #333333 ! important;
    color: #ffffff;
    font-size: 125%;
    font-weight: normal;
}

tr.BabSiteAdminTitleFontBackground > td a {
    color: #ffffff;
}



table .BabLoginCadreBackground table td {
	padding: 10px;
}



html .bab_toolbarItem, html .bab_toolbarItem:link, html .bab_toolbarItem:visited {
    background: none repeat scroll 0 0 #555;
    border: 1px solid #555;
    border-radius: 0;
    color: #fff;
    line-height: 23px;
    margin: 0.4em 0 0.4em 0.4em;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
	font-size: 13.333px;
}


#ctx_menu:not(.nav-tabs) {
	border-bottom: none;
	list-style-type: none;
}
html #ctx_menu:not(.nav-tabs) {
	height: 40px;
	margin: 0;
}

html #ctx_menu:not(.nav-tabs) a:link, #ctx_menu:not(.nav-tabs) a:visited, #ctx_menu:not(.nav-tabs) span {
    background: none repeat scroll 0 0 #555;
    border: 1px solid #555;
    border-radius: 0;
    color: #fff;
    height: 21px;
    line-height: 21px;
    margin: 0.4em 0 0.4em 0.4em;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
	font-size: 13.333px;
	float: left;
	margin: 0 5px 0 0;
	top: 0;
}
#ctx_menu:not(.nav-tabs) span {
	background-color: #f59000;
	border-color: #f59000;
	background-color: #e5e5e5;
	border-color: #e5e5e5;
	color: #000;
}


.portlet-toolbar {
	display: none !important;
}
.portlets-edit-mode .portlet-toolbar {
	display: block !important;
}


/* LIST ELEMENTS */

.widget-layout-vbox-item.widget-list-element {
	background-color: #cacaca;
	padding: 12px;
	border-bottom: 0px solid #fff;
}

.widget-layout-vbox-item.widget-list-element:nth-child(odd) {
	background-color: #dbdbdb;
}


#bab_montha table {
    width:95%;
    padding:0px;
    border-collapse:collapse;
    margin:0 auto;
    }

#bab_montha thead td {
    font-weight:bold;
    border-bottom:#ccc 1px solid;
    }

#bab_montha td {
    padding:1px;
    text-align:center;
    }

.BabCalendarCurrentDayNumberSection {
    border:#ccc 1px solid;
    background-color:#D2EAFF;
    }

/* calendar ++ */

.bab_cal_buttons {
    padding:.6em 0;
    background-color:#eee;
    margin-top:.5em;
    }

.bab_cal_buttons a {
    text-decoration:underline;
    padding:3px;
    color:#000;
    }

.bab_cal_buttons a:hover {
    color:#000;
    background-color:#fff;
    }

/* fileman ++ */

body.fileman#list #centercontent .main.column a {
    text-decoration:none;
    }

body.fileman#list #centercontent .main.column a:hover {
    color:#f60;
    }

/* topic */

#BabCategTitleNavigation {
    background-color:#F7FFEB;
    border:#B9D987 1px solid;
    margin:.5em .5% ;
    }

#BabCategTitleNavigation table {
    border-collapse:collapse;
    /*width:100%;*/
    height:20px;
    }

#BabCategTitleNavigation td {
    border:0;
    padding:0;
    margin:0;
    padding-left:.5em;
    }

#BabCategTitleNavigation p {
    padding:.2em .5em;
    margin:3px 4px;
    }

#BabCategTitleNavigation a {
    text-decoration:none;
    color:#000;
    }

#BabCategTitleNavigation a:hover {
    color:#930;
    }

#BabCategTitleNavigation .bab_buttons a {
    display:block;
    text-align:center;
    width:8em;
    background-color:#B9D987;
    padding:.2em .5em;
    margin:3px 4px;
    border:#879E63 1px solid;
    }

#BabCategTitleNavigation .bab_buttons a:hover {
    background-color:#fc3;
    border:#F09C18 1px solid;
    }


ul.BabCategTitleNavigation {
    padding: 2.5em;
    margin: 2.5em 15%;
    border: #039 2px solid;
    background-color:#BFD7EF;
    list-style-type:square;
    color:#039;
    }

ul.BabCategTitleNavigation li {
    padding-bottom:.5em;
    }

ul.BabCategTitleNavigation li a,
ul.BabCategTitleNavigation li a:visited {
    text-decoration: none;
    color:#000;
    font-size:1.2em;
    }

ul.BabCategTitleNavigation li a:hover {
    text-decoration: underline;
    }

ul.BabCategTitleNavigation ul {
    font-weight: normal;
    font-style: italic;
    padding-left: 1em;
    margin:0;
    padding:0;
    list-style-type:none;
    }

body.page.articles .bab_repeat {
	padding: 30px 32px;
	background-color: rgba(150,150,150,0.1);
}

body.page.articles .bab_repeat {
  background:none!important;
  margin: 0 auto;
  max-width: 1360px;
  padding: 30px 32px;
}

body.page.articles .bab_repeat.applications {
	padding: 13px 13px;
	position: relative;
}

.applications h1.arttitle {
	margin-top: 25px;
	margin-bottom: 10px;
}

body.page.articles .bab_buttons .bab_title {
    font-weight:bold;
    }

/* PUBLIC CORE CSS */
.BabCalendarBodyBadMonthBackground {
    background-color: #ccc;
    }

.BabContentBackground,
.BabMenuActiveBackground {
     background-color: #fff;
     color:#000;
     }

.BabCalendarMenuActiveBackground {
    background-color: #fff; 
    color: #116; 
    font-weight: bold;
    }
     
.BabBodyTitleBackground,
.BabLoginMenuBackground { 
	margin-top: 15px;
    }

.BabLoginMenuBackground a {
    text-decoration:none;
    font-weight:bold;
    color:#777;
    }
    

.articles .BabSiteAdminFontBackground {
   /*background-color:#d3d3d3;*/

    }


.BabLoginMenuBackground a:hover {
    color:#000;
    text-decoration:underline;
    }

.BabSiteAdminFontBackground,
.BabTopicsButtonBackground {
    color: #656565;
    font-size:14px;
    padding: 0;
    }
    
.BabTopicsBackground img {
    max-width : 100%;
}

.BabTopicsBackground p {
	font-size:1rem;
}

.Babhighlight { 
    background-color: #f00;
    }

/* background and font error messages  */
.BabErrorMessage {
    /*background-color: #fff;*/ 
    color: #f33;  
    font-weight: bold;
    }
    
.BabWarningBodyBackground  {
    background-color: #fff; 
    color: #000;  
    font-weight: bold;
    }

.BabWarningBodyBackground a:Link,
.BabWarningBodyBackground a:Visited { 
    color: #00c; 
    font-weight: bold;
    }

.BabWarningBodyBackground a:Hover {
    color: #FF3333; 
    }

/* admin letterlist users/contacts */
.BabLetterlists { 
    color: #000000; 
    background-color: #FFFFFF;  
    font-weight: bold;
    }

.BabLetterlists a:link,
a.BabAlphabetLink:Link,
a.BabAlphabetLink:Visited { 
    color: #009933; 
    font-weight: bold;
    }
    
.BabLetterlists a:Hover,
a.BabAlphabetLink:Hover { 
    color: #000;
    }

a.BabNameEmailLink,
a.BabNameEmailLink:Link,
a.BabTitleSmall,
a.BabTitleSmall:Link { 
    color: #000000;
    }
    
a.BabNameEmailLink:Hover,
a.BabTitleSmall:Hover { 
    color: #0000CC;
    }

/* notes,faq,eventeditor,vacation */
a.BabEventFaqLink,
a.BabEventFaqLink:Link { 
    color: #009933;  
    font-weight: bold;
    }
    
a.BabEventFaqLink:Hover { 
    color: #FF3333;
     }

a.BabContentLinkColor:Link,
a.BabContentLinkColor:Visited,
a.BabSummaryLinkColor:Link,
a.BabSummaryLinkColor:Visited {
    color: #0000CC;
    }
a.BabContentLinkColor:Hover,
a.BabSummaryLinkColor:Hover,
.BabSummaryNbrMessage {
    color: #FF3333;
}

/**************** ARTICLES ****************************/
/* titles */

.BabTopicsTitleBackground h1,
#management_links h2{
    color: #666666;
    font-weight: 600;
    font-size: 24px;
    text-align:left;
    letter-spacing: 0em;
    display : inline-block;
    margin: 0;
    margin-bottom: 30px;
    height: 30px;
    line-height: 30px;
}

#management_links h2 {
	margin-right: 10px;
}

#management_links ul{
	list-style-type: none;
}

.absolutelink {
	display: block;
	position: absolute;
	left: 0;
}

body.page.articles .bab_repeat h2 {
    color : #e00021;
    font-size: 22px;
    text-transform: uppercase;
}

body.page.articles .bab_repeat h2 {
    font-size : 1.4em;
}

body.page.articles .bab_repeat h3 {
    font-size : 1em;
	 color: #3bb46b;
}

body.page.articles .bab_repeat.manageable {
	margin: 0;
}

body.page.articles .bab_repeat.manageable table {
	margin: 0;
}

.ctr_ctnt table tr td {
	padding: 0;
}

.articles .ctr_ctnt table tr td {
	padding: 0 10px;
}

.articles th {
	padding:0 10px;
}

.BabTopicsTitleBackground {
	padding: 0;
	font-size:1.5rem;
}
/* font and background articles */
.BabTopicsAuthorBackground {
    border-bottom:#ccc 1px solid;
    }

.BabMonthCalendarCurentDayBackground {
    background-color: #E6E6F7; 
    color: #000000; 
    }

.BabArticleSpacing { 
    height: 5px; 
    }

a.BabTopicsFooterLink,
a.BabTopicsFooterLink:Link,
a.BabTopicsFooterLink:Visited { 
    color: #4990B1; 
    text-decoration: none;
    }
    
a.BabTopicsFooterLink:Hover {
    text-decoration: underline;
    }
    

.BabTopicsAuthorBackground {
    padding:0;
    padding-top:5px;
    }

a.BabTopicsFooterMoreLink:Link,
a.BabTopicsFooterMoreLink:Visited { 
    color: #000;
    text-decoration: none;
    border:#ccc 1px solid;
    padding:1px 4px;
    border-width:1px 1px 0 1px;
    background:#fff;
    margin-right:1em;
    position:relative;
    font-weight:bold;
    }

a.BabTopicsFooterMoreLink:Hover { 
    background-color:#fc3;
    border-color:#fc3;
    }

/********** AGENDA **** CALENDAR ******************************/

.BabCalendarBodyBackground,
.Blackbg { 
    background-color: #000000; 
    }

/*names of the days on top of monthcalendar*/
.BabCalendarDays { 
    background-color: #181A91; 
    color: #FFFFFF;  
    font-weight: bold;
    }

.BabMonthCalendarEventHourfont { 
    background-color: #FFFFFF; 
    color: #009933; 
    }

/***************** MAIL ******************************/

/* white background  in use on inbox  groups  - plus links */
.BabMailBackground { 
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
    }

/***************** FORUMS**********************************/

/*threads*/
.BabForumBackground,
.HeaderDayCalendar { 
    background-color: #FFFFFF;  
    }

.articles .BabForumBackground1 {


	background-color:#d3d3d3;

    }

a.BabForumNavigation,
a.BabForumNavigation:Link,
a.BabForumNavigation:Visited { 
    color: #111166; 
    font-weight: bold;
    }
    
a.BabForumNavigation:Hover {
    color: #009933;
    }

 /*posts*/
.BabForumTopicsNavTitle,
.BabForumTopicsNavDate, 
.BabForumTopicsNavAuthor {
    background-color: #E6E6F7; 
    color: #111166;  
    font-weight: bold;
    }

a.BabForumTopicsConfirm,
a.BabForumTopicsConfirm:Link,
a.BabForumTopicsConfirm:Visited { 
    color: #4990B1; 
    text-decoration: none;
    }
a.BabForumTopicsConfirm:Hover 
    { 
    text-decoration: underline;
    }

a.BabForumTopicsNavContribution:Link,
a.BabForumTopicsNavContribution:Visited { 
    color: #000000;
    }
a.BabForumTopicsNavContribution:Hover { 
    color: #0000CC;
    }

.BabForumTopicsNavTreeBody { 
    background-color:#FFFFFF; 
    color: #000000;   
    font-weight: bold;
    }
    

.BabForumTopicsNavTreeLive {
    background-color:#FFFFFF;
    color:#FF3333;
    font-weight:bold;
    }
    
/************* ADMINISTRATION SITES*************/

.BabSiteAdminTitleFontBackground,
.BabFaqTitleFontBg,
.BabTopicsAdminListTitle {
    color: #000 ; 
    font-weight: bold;
    }
.articles .BabSiteAdminTitleFontBackground {
	display:none;
}
    
.BabSiteAdminSmall {
    background-color: #D1D1D9; 
    color: #111166 ;  
    font-weight: bold; 
    }


.BabSiteAdminFont { 
    color: #000; 
    }

/********* FAQ **** NOTES ********************************/
a.BabFaqLink,
a.BabFaqLink:Link,
a.BabFaqLink:Visited { 
    color: #0000CC; 
    font-weight: bold;
    }
    
a.BabFaqLink:Hover { 
    color: #FF3333; 
    }

.BabFaqQuestion { 
    background-color: #FFFFFF; 
    color: #0000CC;
    font-weight: bold;
    }


/********** ADMINISTRATION THEMES TOPICS **********/


a.BabTopicsAdminTitleLink,
a.BabTopicsAdminTitleLink:Link,
a.BabTopicsAdminTitleLink:Visited { 
    color: #111166; 
    font-weight: bold;
    }
    
a.BabTopicsAdminTitleLink:Hover { 
    color: #009933;
    }
    
/******************* MODIF STYLE FORMULAIRE **************/

.ctr_ctnt .ADDON_FORMS {
    background-color: #fff;
    border: none;
    margin: 0;
    padding: 30px;
}

.ADDON_FORMS {
	
	background-color: #fff;
    border: 1px solid #E51E19;
    margin: 0;
    padding: 30px;
}

.ctr_ctnt .ADDON_FORMS span.suffix {
	display: none;
}

.ctr_ctnt .ADDON_FORMS fieldset div label,
.ADDON_FORMS fieldset div .label {
   	 	width: 20%;
    	color: #000;
}

.ctr_ctnt .ADDON_FORMS_edit .textarea label,
.ctr_ctnt .ADDON_FORMS_edit .captcha label {
    display: inline-block;
	float: left;
	vertical-align: middle;
	text-align: right;
	padding-right: .5em;
	padding-bottom: .5em;
	clear: both;
	font-weight: bold;
	font-size: 1em;
	max-width: 20%;
	color: #000;
	float: left;
	}

.ctr_ctnt .ADDON_FORMS_edit .captcha {
	padding: 0;
	margin: 0;
	text-align: left;
	background: transparent;
	color: #000;
	width: 100%;
	border: none;

}

.ctr_ctnt .ADDON_FORMS_edit .asterix {
	color: #666666;
	font-size: 9px;
}

.ctr_ctnt .ADDON_FORMS_edit .captcha input[type="text"] {
	float: left;
	width: 20%;
	margin-left: 21.5%;
}

.ctr_ctnt .ADDON_FORMS_edit .textarea {
	padding: 0;
	margin: 0;
}

.ctr_ctnt .ADDON_FORMS_edit .textarea textarea{
	width: 70%;
	height: 130px;
	margin-left:  3px;
	float: left;
	border: 1px solid;
	border-radius:8px;
}

.ctr_ctnt .ADDON_FORMS_edit input {
	border: 1px solid;
	border-radius:8px;
}

.ctr_ctnt .ADDON_FORMS_edit input[type="text"] {
	width: 70%;
}

.ctr_ctnt .ADDON_FORMS_edit select {
	width: 40%;
	border: 0;
}

.ctr_ctnt .ADDON_FORMS_edit .f60 input[type="text"],
.ctr_ctnt .ADDON_FORMS_edit .f67 input[type="text"] {
	width: 20%;
}

.ctr_ctnt .ADDON_FORMS_edit .f68 input[type="text"],
.ctr_ctnt .ADDON_FORMS_edit .f69 input[type="text"] {
	width: 40%;
}

.ctr_ctnt .ADDON_FORMS_edit div.text,
.ctr_ctnt .ADDON_FORMS_edit div.select,
.ctr_ctnt .ADDON_FORMS_edit div.textarea {
	margin-bottom: 5px;
}

.ADDON_FORMS fieldset div label,
.ADDON_FORMS fieldset div .label {
    color:#444;
    font-weight:normal !important;
}

.ctr_ctnt .ADDON_FORMS_edit input[type="button"] {
    width: 84px;
    height: 38px;
    font-size: 14px;
    color: white;
    background-color: #fff;
    line-height: 36px;
    text-transform: uppercase;
    color: #2297d4;
    border: 1px solid #2297d4;
    font-weight: bold;
    cursor: pointer;
}

.ADDON_FORMS fieldset {
    width: 50%;
    margin:auto;
}

/********** FORMULAIRE CONTACT **********/

.ADDON_FORMS h1{
	color: #0286a6;
}


/*************************************************
    $   Menu
*************************************************/


.ctr_ctnt .ADDON_FORMS fieldset div label, .ADDON_FORMS fieldset div .label,
.ctr_ctnt .ADDON_FORMS_edit .textarea label, .ctr_ctnt .ADDON_FORMS_edit .captcha label,
.ctr_ctnt .ADDON_FORMS_edit .textarea textarea,
.ctr_ctnt .ADDON_FORMS_edit .captcha input[type="text"],
.ctr_ctnt .ADDON_FORMS_edit .f60 input[type="text"], .ctr_ctnt .ADDON_FORMS_edit .f67 input[type="text"],
.ctr_ctnt .ADDON_FORMS_edit select,
.ctr_ctnt .ADDON_FORMS_edit .f68 input[type="text"], .ctr_ctnt .ADDON_FORMS_edit .f69 input[type="text"],
.ctr_ctnt .ADDON_FORMS_edit input[type="text"] {
	display: block;
	max-width: 100%;
	width: 100%;
	text-align: left;
	color: #000;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

/***Resolve input size for back office****/
.BabLoginMenuBackground tbody tr td > input {
	width: auto;
}

.BabLoginMenuBackground td.widget-layout-hbox-item	{
	display:inline-block;
	margin-right:5px;
}

.BabLoginMenuBackground .widget-acl-frame button img {
	vertical-align: inherit;
}
