<div class="row">
	<div class="col-md-3 margin-bottom-20">
		<OFPortletContainer id="container-footer-L-locked" mode="locked">
	</div>
	<div class="col-md-3 margin-bottom-20">
		<OFPortletContainer id="container-footer-ML-locked" mode="locked">
	</div>
	<div class="col-md-3 margin-bottom-20">
		<OFPortletContainer id="container-footer-MR-locked" mode="locked">
	</div>
	<div class="col-md-3 margin-bottom-20">
		<OFPortletContainer id="container-footer-R-locked" mode="locked">
	</div>
</div>
<div class="row margin-bottom-20">
	<OFThemeDefaultGetRegistryValue key="bottomNavigationNode" saveas="nodeId">
	<OCIfNotEqual expr1="<OVnodeId>" expr2="">
		<OCSitemapEntries node="<OVnodeId>">
			<div class="col-md-3 col-xs-6 bottom-links">
				<a href="<OVSitemapEntryUrl>"><OVSitemapEntryText></a>
			</div>
		</OCSitemapEntries>
	</OCIfNotEqual>
</div>