<OFThemeDefaultGetRegistryValue key="topNavigationNode" saveas="nodeId">

<div id="hornavmenu" class="main-menu icon-16x16 icon-left icon-left-16 nav navbar-nav">
	<OFSitemapMenu basenode="<OVnodeId>">
</div>
