
	<div class="background-gray-lighter">
		<OFPortletContainer id="container-top-locked" mode="locked">
	</div>
	
	<div class="row no-margin padding-horiz-20 background-white">
	
			<div class="col-md-9">
				<OFPortletContainer id="container-left-locked" mode="locked">
			</div>
			<div class="col-md-3">
				<OFPortletContainer id="container-right-locked" mode="locked">
			</div>

	</div>
	
    <OFPortletContainer id="container-bottom"  mode="locked">

