<OFPutVar name="BAB_SESS_USERID">
<OFPutVar name="BAB_SESS_FIRSTNAME">
<OFPutVar name="BAB_SESS_LASTNAME">
<OFGetPath path="../images/contact-default.png" file_relative="1" saveas="DefaultImageUrl">
<OFThumbnail id_user="<OVBAB_SESS_USERID>" maxwidth="40" maxheight="40" resizemode="CROP_CENTER" default="<OVDefaultImageUrl>" saveas="UserIcon">
<img src="<OVUserIcon>" alt="<OVBAB_SESS_FIRSTNAME> <OVBAB_SESS_LASTNAME>" />